<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

<ul class="list">
	<f:for each="{fileCollections}" as="fileCollection">
		<li class="gallery col-sm-4">
            <div class="wrapper">
			<f:link.action action="showGallery" arguments="{fileCollectionUid: fileCollection.identifier}">
                    <f:for each="{fileCollection}" as="image" iteration="iterator">                        
                        <f:if condition="{iterator.isFirst}">
                            <f:cObject typoscriptObjectPath="plugin.tx_mediagallery.list.image">
                                {f:uri.image(src:image.uid)}
                            </f:cObject>

                        </f:if>                    
                    </f:for>
                    <h3><f:format.crop maxCharacters="55" append="...">{fileCollection.title}</f:format.crop></h3>
			</f:link.action>
            </div>
		</li>
	</f:for>
</ul>
</f:section>