{namespace mediagallery=GData\MediaGallery\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <f:flashMessages />

    <h3>{fileCollection.title}</h3>

    <ul class="gallery show clearfix">
    <f:for each="{fileCollection}" as="image">
        
            <f:cycle values="{0: 'first', 1: '', 2: 'last'}" as="cycle">
                <li class="{cycle} image">        
                    <a href="{f:uri.image(src: image.publicUrl)}" 
                       class="lightbox" 
                       rel="lightbox[fileCollection.identifier]" 
                       title="{image.title}" >
                        <f:image src="{image.publicUrl}" 
                                 alt="{image.alternative}" 
                                 title="{image.title}" 
                                 height="188c" 
                                 width="244" />
                    </a>
                <f:if condition="{image.title}">
                    <div class="caption">
                        <h3>{galleryItem.title}</h3>
                    </div>
                </f:if>
                </li>
            </f:cycle>
    </f:for>
        </ul>



    <f:if condition="{showOverviewLink}">
        <f:link.page>
            <f:translate key="link.backToOverview">Back to list</f:translate>
        </f:link.page>
    </f:if>

</f:section>